# Local dependencies & system files
node_modules/
dist/
.DS_Store

# Secrets & Configs
.env.local
.env.*.local
.supabase/
*.log

# Exclude backend helper scripts containing database/supabase credentials
backend/*.js
backend/supabase/seed.js
